.App {
  text-align: center;
}
.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide {
  opacity: 0;
  transition-duration: 1s ease;
}
.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.container__slider__links{
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
}
.container__slider__links-small {
  position: relative;
  width: 12px;
  height:12px;
  padding: 0;
  border-radius: 50%;
  outline: none;
  border: 0;
  background-color: white;
  border: 1px solid grey;
  transition: background-color 1s ease;
  margin: 0 2px;
}
.container__slider__links-small-active {
  background-color: black;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
